.go-app {
  height: 28em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  background: #ffffffb5;
  background: linear-gradient(135deg, #184e68 0%, #57ca85 100%);
  margin-top: 12em;
  padding: 1em;
  color: white;
  box-shadow: inset 0px 0px 28px -1px #000000;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  margin-bottom: 6em;
}
