@import "./css/carrusel.css";
@import "./css/preview-section.css";
@import "./css/title-section.css";
@import "./css/go-app.css";
@import "./css/media/responsive.css";

:root {
  --swiper-navigation-color: #fff;
  --deault-color: white;
  --font-no-default: verdana, geneva, tahoma, sans-serif;
}

@font-face {
  font-family: DuruSans;
  src: url("/fonts/DuruSans-Regular.ttf");
}

@font-face {
  font-family: Cheri;
  src: url("/fonts/CHERI___.TTF");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  scrollbar-width: 14px;
  scrollbar-color: #444 #ffffff6f;
  scroll-behavior: smooth;
  font-family: DuruSans, monospace;
}

/*    Scrollbar   */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #ffffff6f;
}

::-webkit-scrollbar-thumb {
  background: #444;
}

/*    Modal   */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  display: none;
  place-content: center;
  width: 100%;
  height: 100%;
  background: #2b373d;
  z-index: 3;
}

.modal .container {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px;
}

.line-hr {
  background: #ffc300;
  width: 80%;
  height: 5px;
}

.modal h1 {
  color: var(--deault-color);
  font-family: var(--font-no-default);
  font-size: 3em;
}

.modal h1 span {
  color: #de5109;
  font-family: Cheri, fantasy;
  font-size: 1.2em;
}

.modal h1 span:first-child {
  color: #40bfc1;
}

.modal h2 {
  color: var(--deault-color);
  font-family: var(--font-no-default);
  font-size: 1.5em;
  text-transform: uppercase;
  margin-top: 20px;
}

.buttons-container {
  display: flex;
  gap: 40px;
}

.buttons-container .button:hover {
  border-width: 3px;
  transform: scale(1.2);
}

.buttons-container .button:first-child:hover {
  border-color: rgb(96 243 96);
  color: rgb(96 243 96);
}

.buttons-container .button:last-child:hover {
  border-color: rgb(244 74 74);
  color: rgb(244 74 74);
}

.overage,
.underage {
  margin-top: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid var(--deault-color);
  color: var(--deault-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*    Navbar   */

.navbar {
  width: 100%;
  height: 4rem;
  background: #151516;
  position: fixed;
  z-index: 2;
  text-transform: uppercase;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

nav ul li {
  font-family: var(--font-no-default);
  font-size: 1.2rem;
  padding: 20px;
  display: flex;
  align-items: center;
}

nav ul li:first-child {
  font-family: Cheri, monospace;
}

nav ul li a {
  height: 100%;
  color: var(--deault-color);
  text-decoration: none;
  font: bold;
  transition: 1s;
}

nav ul li:hover a {
  color: #ffc300;
}

/*    General Section   */
main {
  /* background: linear-gradient(135deg, #184e68 0%, #57ca85 100%); */
  background-color: #202124;
  gap: 5em;
}

.section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--deault-color);
}
