@import "./css/carrusel.css";
@import "./css/preview-section.css";
@import "./css/ttitle-section";

:root {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
  --deault-color: white;
  --font-no-default: verdana, geneva, tahoma, sans-serif;
}

@font-face {
  font-family: DuruSans;
  src: url("/fonts/DuruSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  scrollbar-width: 14px;
  scrollbar-color: #444 #ffffff6f;
  scroll-behavior: smooth;
  font-family: DuruSans, monospace;
}

/*    Scrollbar   */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #ffffff6f;
}

::-webkit-scrollbar-thumb {
  background: #444;
}

/*    Modal   */
.modal {
  position: fixed;
  top: 0;
  display: none;
  place-content: center;
  width: 100%;
  height: 100%;
  background: rgb(255 255 255 / 18%);
  backdrop-filter: blur(8px);
  z-index: 3;
}

.line-hr {
  background: var(--deault-color);
  width: 80%;
  height: 2px;
}

.modal h1 {
  color: var(--deault-color);
  font-family: var(--font-no-default);
  font-size: 50px;
}

.modal h2 {
  color: var(--deault-color);
  font-family: var(--font-no-default);
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 20px;
}

.modal .container {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
